[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = "*"
fastapi = "*"
uvicorn = "*"
aerich = "*"
unidecode = "*"
nltk = "*"
spacy = "*"
numpy = "*"
es-core-news-sm = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
gensim = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
