[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = "*"
fastapi = "*"
uvicorn = "*"
aerich = "*"
unidecode = "*"
nltk = "*"
spacy = "*"
numpy = "*"
es-core-news-sm = "*"

[dev-packages]

[requires]
python_version = "3.9"
